/*z-index = z-axis
position:static = z-index does not work
value of z-index is 0 by default*/

img{
  width: 200px;
  height: 200px;
  position: absolute;
}
.banner{
  margin: 1.5em;
  width: 600px;
  height: 400px;
  border: 3px solid gold;
  position: relative;
}
.one{
  top: 0;
  left: 0;
  /* position: static; */
  z-index: 1;   /*with z-index you can control which view overlays which one. It means where the views are placed on z-axis*/
  /*When position is static, then if z-index is negative, then things would work same but for positive z-index, there will be no effect.
  Try making this view as position:static and change z-index of all three images by making them positive such that .one>.two>.three z-index, you'll see no effect*/
}
.two{
  top: 10%;
  left:10%;
  z-index: -1;
}
.three{
  top: 20%;
  left:20%;
  z-index: -3;
}