*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
.skill{
    margin: 10px;
    border: 1px solid #0000ff;
    border-radius: 20px;
    padding: 10px;;
}
img{
    float:left;
    width: 400px;
    height: 400px;
    margin-right: 5px;
    overflow: auto;
}
p{
}