/*CSS box model*/

h1{
    background: goldenrod;
    padding-top: 30px;
    margin: 25px;
    border-style: solid;
    border-width: 0.5em;
    border-color: grey;
    border-radius: 50%;
}
p{
    background: greenyellow;
    /* padding:25px; */
    /* padding: 20px 30px;       TopBottom LeftRight */
    padding: 10px 20px 30px 40px;    /*Top right bottom left*/
    border: 0.5em solid grey;
    border-bottom-left-radius: 10px;
}

.buttons{
    margin:3rem;
}
a{
    background: greenyellow;
    text-decoration: none;
    padding: 1.2rem 1.5rem;
    color: saddlebrown;
    text-transform: uppercase;
    cursor: wait;
    margin: 0 20px;
}
#one{
    border: 0.4rem dotted black;
    border-inline-color: red;
}
#two{
    outline-width: 0.4rem;
    outline-style: dotted;
    outline-color: red;
    outline-offset: 10px;   /*Try -10px In that case outline will work like border*/
}
