/*
calc()
perform math operations + - * /
mix and match values*/

*{
    margin: 0;
}

.navbar{
    background: greenyellow;
    height: 100px;
    color: grey;
    font-size: 3rem;
}
.banner{
    background: indianred;
    /*make sure to have space before and after the operation symbol*/
    height: calc(100vh - 100px);
}