*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.col1 ,.col2, .col3{
    border: 2px solid green;
    padding: 10px;;
    margin:5px
}
@media screen and (max-width:960px){
    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:768px){
    .content{
        display: block;
    }
}